.categoryBanner{
    display: block;
    margin:30px;
    width:80%;

}
.categoryIndexSort{
    display:flex;
    margin-right: 20px;
    justify-content: flex-end;
    align-items: right;
}
.categoryIndexSort p span{
    font-weight: 600;

}
.categorySort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    
}
.categoryProducts{
    margin:20px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap:80px;
    gap: 5px;
}
.moreProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height:50px;
    padding: 10px;
    margin: 150px auto;
    border-radius:75px;
    background:rgb(130, 13, 130);
    color:#fbf7f7;
    font-size:18px;
    font-weight: 600px;;

}