.footer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: fixed;
bottom:0;
gap:10px;
background-color: rgb(74, 73, 73);
height: 100px;
width: 100%;
}
.footerLinks{
display: flex;
list-style: none;
gap:40px;
color:rgb(247, 244, 244);
font-size: 20px;
margin-top: 20px;;
margin-bottom: 0px ;
}
.footerLinks li{
    cursor:pointer;
}
.socialIcons{
display: flex;
flex-direction: row;
gap:20px;
}
.iconContainer{
padding: 10px;
padding-bottom: 6px;
}
.iconContainer img{
    height: 30px;
    width: 30px;
} 
.footerCopyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 100%;
    margin-bottom: 30px;
    color:rgb(244, 238, 238);
    font-size: 20px;;
}

.footerCopyright p{
    padding-top:1px;
    margin-bottom: 20px;;
    bottom: 0;

}
